<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>main 페이지</title>
    <link rel="stylesheet" href="{% static 'poll/css/style.css' %}">
</head>
<body>
    <div id="container">
        <section id="index">
            <div class="poll">
                <a href="{% url 'poll:poll_list' %}">
                    <img src="{% static 'poll/images/vote2.jpg' %}" alt="투표">
                </a>
                <p>설문 투표 바로가기</p>
            </div>
            <div class="poll">
                <a href="{% url 'poll:poll_list' %}">
                    <img src="{% static 'poll/images/ocr.png' %}" alt="OCR">
                </a>
                <p>OCR 바로가기</p>
            </div>
        </section>
    </div>
</body>
</html>