<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript"
        src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=oq5hyhgd7v"></script>
    <script type="text/javascript"
        src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=oq5hyhgd7v&submodules=geocoder"></script>
    <script>
        $(document).ready(function() {
            $('form').on('submit', function(e) {
                e.preventDefault();
                var value = $('#address').val();

                $.ajax({
                    type: "get",
                    url: "{% url 'poll:search' %}",
                    dataType: "json",
                    data: {q:value},
                    success: function(data) {
                        if(data.items.length > 0) {
                            searchAddressToCoordinate(data.items[0].address, data.items[0].title);
                        }else {
                            searchAddressToCoordinate(value, value);
                        }

                        console.log(data.building_names)
                        $('#address').val('');
                    },
                    error: function() {
                        console.log('확인 불가');
                    }
                })

            })
        })
    </script>

</head>
<body>
<form>
    <input>
</form>
 <script>

      function searchAddressToCoordinate(address) {
            naver.maps.Service.geocode({
                query: address
            }, function (status, response) {
                if (status === naver.maps.Service.Status.ERROR) {
                    return alert('Something Wrong!');
                }

                if (response.v2.meta.totalCount === 0) {
                    return alert('totalCount' + response.v2.meta.totalCount);
                }

                var htmlAddresses = [],
                    item = response.v2.addresses[0],
                    point = new naver.maps.Point(item.x, item.y);

                if (item.roadAddress) {
                    htmlAddresses.push('[도로명 주소] ' + item.roadAddress);
                }

                if (item.jibunAddress) {
                    htmlAddresses.push('[지번 주소] ' + item.jibunAddress);
                }

                if (item.englishAddress) {
                    htmlAddresses.push('[영문명 주소] ' + item.englishAddress);
                }

                infoWindow1.setContent([
                    '<div style="padding:10px;min-width:200px;line-height:150%;">',
                    '<h4 style="margin-top:5px;">검색 주소 : ' + address + point + '(경도, 위도)' + '</h4><br />',
                    htmlAddresses.join('<br />'),
                    '</div>'
                ].join('\n'));

                map.setCenter(point);

                return point;
            });
        }
    </script>
</body>
</html>