{% extends 'base.html' %}
{% block content %}
<section id="detail">
    <div class="container my-3">
        <div class="row">
            <div class="col-4">
                <img src="{{ product.image.url }}" width="100%" alt="Product Image">
            </div>
            <div class="col-8">
                <h1 class="display-6 my-3">{{ product.name }}</h1>
                <p><span class="badge bg-dark my-3">Price</span>{{ product.price }}</p>
                <form action="{% url 'cart:product_add' product.id %}" method="post">
                    {% csrf_token %}
                    {{ add_to_cart }}
                    <input type="submit" value="Add to Cart" class="btn btn-primary btn-sm my-3">
                </form>
                <h5>
                    <span class="badge bg-secondary my-3">Description</span>
                    <!-- linebreaks는 줄바꿈 가능 -->
                    {{ product.description|linebreaks }}
                </h5>
            </div>
        </div>
    </div>
</section>
{% endblock %}