{% extends 'base.html' %}
{% load static %}
{% block content %}
<section>
    <div class="container my-3">
        <h1>블로그 상세보기</h1>
        <h3>{{ post.title }}</h3>
        <h5 style="white-space: pre-line; line-height: 2em;">{{ post.content }}</h5>

        <p>
            글쓴이: {{ post.author }} (작성일: {{ post.pub_date }})
            {% if post.author == request.user %}
            <a href="#" class="delete" data-uri="{% url 'blog:post_delete' post.id %}">
                삭제
            </a>
            {% endif %}
        </p>
        {% if post.photo %}
        <img src="{{ post.photo.url }}">
        {% endif %}

        <!-- 댓글 영역 -->
        <div class="mt-3">
            <h5><i class="fa-regular fa-comments"> 댓글</i></h5>
            {% for comment in post.comment_set.all %}
            <div class="comment text-muted my-3">
                <span>{{ comment.content | linebreaks }}</span>
                <div class="text-end">
                    <span>작성자: {{ comment.author }} ({{ comment.pub_date | date:"Y-m-d" }}, {{ comment.modify_date | date:"Y-m-d" }})</span>
                    {% if comment.author == request.user %}
                    <a href="{% url 'blog:comment_update' comment.id %}" class="btn btn-sm btn-outline-primary">수정</a>
                    <a href="#" data-uri="{% url 'blog:comment_delete' comment.id %}" class="btn btn-sm btn-outline-primary delete2">삭제</a>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
            <form action="{% url 'blog:comment_create' post.id %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <textarea name="content" rows="3" placeholder="댓글을 남겨보세요." class="form-control"></textarea>
                    <button type="submit" class="btn btn-sm btn-outline-success my-2">등록</button>
                </div>
            </form>
        </div>
    </div>
</section>

<aside>
    <h4>분류(Category)</h4>
    <div>
        <ul>
            {% for category in categories %}
            <li>{{ category.name }}({{ category.post_set.count }})</li>
            {% endfor %}
        </ul>
    </div>
</aside>

{% block script %}
<script>
    $(function () {
        <!-- 클릭 이벤트 -->
        $('.delete').click(function () {
            if (confirm('포스트를 정말 삭제하시겠습니까?')) {
                location.href = $(this).data('uri');  // 페이지 이동
            };
        });

        $('.delete2').click(function () {
            if (confirm('댓글을 정말 삭제하시겠습니까?')) {
                location.href = $(this).data('uri');
            };
        });
    });
</script>
{% endblock %}

{% endblock %}

