{% extends 'base.html' %}
{% block content %}
<div class="container my-3">
    <h1>블로그 홈</h1>
    {% if post_list %}
        {% for post in post_list %}
            <h3>
                <a href="{% url 'blog:detail' post.id %}">
                    {{ post.title }}
                </a>
            </h3>
            <h5 style="white-space: pre-line; line-height: 2em;">{{ post.content }}</h5>
            <p>(작성일: {{ post.pub_date }})</p>
        {% endfor %}
    {% else %}
        <p>포스트 X</p>
    {% endif %}
</div>
{% endblock %}